---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="EndlesSGreen" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Sua empresa precisa compensar
    <span class="text-primary">emissões de carbono</span> ou vender

    <span class="text-primary">créditos de carbono?</span>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="ethereum" class="h-8" />
      <span>Comprar</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Vender</span>
    </a>
  </div>
</ContentSection>
